/* styles for the body */
body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: #005EB4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* styles for the container */
.container {
    background-color: #0C1E2F;
    padding: 20px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    width: 100%;
    min-width: 800px;
}

.title {
    font-size: 44px;
    color: white;
    font-weight: bold;
    margin: 0px;
    text-align: center;
}

.para {
    text-align: center;
    color: white;
    margin: 0px;
}


.title>span {
    color: #82E631;
}

.form {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    gap: 20px;
}

.button {
    padding: 10px;
    background-color: white;
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin: auto;
    width: 150px;
    margin-bottom: 16px;
}

.button:hover {
    background-color: rgb(218, 218, 218);
}

.error-text,
.result-text {
    color: white;
    text-align: center;
    margin: 0px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
}

.result-text {
    background-color: #82E631;
}

.error-text {
    background-color: red;
}

/* When screen size is lower than 1000px, the container will have a minimum width of 500px */
@media (max-width: 1000px) {
    .container {
        padding: 20px;
        width: auto;
        min-width: 500px;
    }
}

/* When screen size is lower than 450px, the container will have a minimum width of 100px */
@media (max-width: 450px) {
    .container {
        padding: 20px;
        width: auto;
        min-width: 100px;
    }
}