.chatContainer {
    display: flex;
    flex-direction: column;
    height: 93vh;
    max-width: 100vw;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chatWindow {
    flex: 1;
    padding: 16px;
    overflow-y: auto;
    border-bottom: 1px solid #ccc;
}

.message {
    padding: 10px 15px;
    margin: 10px 0;
    border-radius: 20px;
    max-width: 70%;
    word-wrap: break-word;
}

.userMessage {
    align-self: flex-end;
    background-color: #dcf8c6;
    color: #000;
}

.aiMessage {
    align-self: flex-start;
    background-color: #f1f1f1;
    color: #000;
}

.inputContainer {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ccc;
    background-color: #fff;
}

.input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-right: 10px;
    outline: none;
}

.sendButton {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.sendButton:hover {
    background-color: #0056b3;
}