#contact {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    padding-top: 5rem;
    box-sizing: border-box;
}

#contact .left-side {
    width: 100%;
    max-width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    box-sizing: border-box;
}

#contact .left-side h1 {
    font-size: 3rem;
    font-weight: 700;
    color: white;
    margin: 0;
}

#contact .left-side img {
    max-width: 100%;
}

#contact .right-side {
    font-size: 1.5rem;
    width: 100%;
    max-height: 80vh;
    max-width: 40%;
    font-weight: 400;
    border-radius: 35px;
    background-color: #d9d9d980;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    box-sizing: border-box;
}

#contact .right-side form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#contact .right-side form label {
    text-align: left;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 5px;
    padding-bottom: 0;
}

#contact .right-side form input,
#contact .right-side form textarea {
    margin-bottom: 2rem;
    margin-top: 0;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

#contact .right-side form textarea {
    padding-bottom: 5rem;
}

#contact .right-side form button {
    align-self: flex-end;
    padding: 0.50rem 3.5rem;
    font-size: 1.25rem;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#contact .right-side form button:hover {
    background-color: #232323;
}

@media (max-width: 768px) {
    #contact {
        flex-direction: column;
        padding-top: 2rem;
    }

    #contact .left-side,
    #contact .right-side {
        max-width: 100%;
    }

    #contact .left-side h1 {
        font-size: 2rem;
    }

    #contact .right-side {
        max-width: 90%;
    }

    #contact .right-side form button {
        align-self: center;
    }
}