#faq {
    min-width: 100vw;
    min-height: 100vh;
    background-color: #0C1E2F;
    border: 0;
    margin: 0;
    padding: 0;
    border-radius: 35px;
    margin-top: 2em;
}

#Title h1 {
    color: white;
    font-size: 44px;
    text-align: center;
    padding-top: 2em;
}

#Title p {
    color: white;
    font-size: 20px;
    text-align: center;
    margin-top: -1em;
    font-weight: 100;
}

.accordion-item {
    background-color: rgba(255, 255, 255, 0.5);

}

.body {
    max-width: 1200px;
    align-self: center;
    margin: auto;
    margin-top: 10%;
}

.accordion-item,
.accordion-header,
.accordion-button {
    background-color: rgba(255, 255, 255, 0.5) !important;
}

.accordion-body {
    background-color: rgba(255, 255, 255, 0.4) !important;
}