#home {
    min-width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 8em;
}

#homeText h1 {
    color: white;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    width: 536px;
    font-weight: 700;
}

#homeText h1>span {
    color: #82E631;
}

#homeText p {
    color: white;
    width: 374px;
}

#homeText button {
    border-radius: 50px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    color: white;
    font-weight: 700;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    background-color: #82E631;
    cursor: pointer;
    transition: border-color 0.25s, background-color 0.25s;
    margin-top: 10px;
}

#homeText button:hover {
    border-color: #469c00;
    background-color: #8eff31;
}

#homeImage img {
    width: 400px;
    animation: rotateScale 25s linear infinite;
}

@keyframes rotateScale {

    from {
        transform: rotate(0deg) scale(1);
    }

    to {
        transform: rotate(180deg) scale(1.2);
    }
}