#nav {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #005EB4;
    padding: 0 60px;
    width: 90%;
    max-width: 1200px;
    height: 93px;
    border-radius: 50px;
}

#nav img {
    margin-top: 20px;
    height: 150px;
}

#nav-links {
    display: flex;
    gap: 20px;
}

#nav-links a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 16px;
}

#nav-button {
    background-color: #82E631;
    color: white;
    border: none;
    padding: 8px 30px;
    border-radius: 45px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#nav i {
    color: white;
    border: 2px solid white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

#nav-button:hover {
    background-color: #79ff0b;
}

@media (max-width: 765px) {
    #nav {
        padding: 10px;
    }

    #nav i {
        display: block;
    }

    #nav-links,
    #nav-button {
        display: none;
    }
}