#ourTeam {
    min-width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    border-radius: 35px;
    background-color: white;
    box-shadow: 5px 10px 15px 0 rgba(0, 0, 0, 0.25);

}

#ourTeam>h1 {
    font-size: 44px;
    padding-top: 2em;
    font-weight: 700;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    color: #0C1E2F;
    text-align: center;
}

#ourTeam>p {
    font-size: 18px;
    margin-top: -1em;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    color: #070707;
    text-align: center;
}

#ourTeam>p>span {
    color: #005EB4;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
    min-height: 70vh;
}

.card {
    background: #F6F9FC;
    box-shadow: 0px 10px 15px 0 rgba(0, 0, 0, 0.25);
    border: 0px;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 200px;
    min-height: 400px;
    text-align: center;
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

.card img {
    margin-bottom: 15px;
}

.card h2 {
    font-size: 20px;
    color: black;
    margin-bottom: 0;
}

.card p {
    font-size: 16px;
    margin-top: 0;
    color: black;
}