.container {
    background-color: #0C1E2F;
    width: 200px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: width 0.3s ease;
    /* Smooth transition */
}

.logo {
    width: 95px;
    height: 52px;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: white;
}

.menuCollapse {
    width: 20px;
    margin-right: 5px;
    margin-left: 4px;
    cursor: pointer;
}

.user img {
    margin-left: -6px;
    width: 30px;
    height: 30px;
    border-radius: 50px;
}

.user p,
.item p,
.bottomItem p {
    font-size: 14px;
    color: white;
    margin-left: 5px;
}

.user,
.item {
    display: flex;
    align-items: center;
    gap: 5px;
}

.userTab,
.itemTab {
    display: flex;
    align-items: center;
    padding: 15px;
    cursor: pointer;
}

hr {
    width: 100%;
    border: 0;
    border-top: 0.5px solid #ffffff84;
    margin: 10px auto;
}

.BottomItemTab {
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;
}

.bottomItem {
    display: flex;
    align-items: center;
    gap: 7px;
    margin-left: 5px;
}

.userTab {
    padding-bottom: 0;
    justify-content: space-between;
}

.userTab:hover,
.itemTab:hover,
.BottomItemTab:hover {
    background-color: #808080;
}

.item img {
    width: 20px;
    height: 20px;
}

.bottom {
    margin-top: auto;
}

.hidden {
    display: none;
}

.collapsed {
    width: 50px;
}

.collapsed .logo {
    display: none;
}